@media (max-width: 1640px) {
    .container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1210px) {
    #pokemon-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    #pokemon-list li {
        margin: 0px;
    }
    #pokemon-list img {
        width: 130px;
    }
}

@media (max-width: 415px) {
    #pokemon-list img {
        width: 110px;
    }
}

@media (max-width: 385px) {
    #pokemon-list img {
        width: 100px;
    }

    #pokemon-list {
        grid-template-columns: 1fr;
    }
}
